@page "/modaltest"

<h3>ModalTest</h3>

<ShowModalTest />

@code {


    //protected override async Task OnInitializedAsync()
    //{
    //    forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    //}

}
